/BOOKCATALOG.API/bin
/BOOKCATALOG.API/obj
/BOOKCATALOG.DB/obj
/BOOKCATALOG.DB/bin
/BOOKCATALOG.INFRASTRUCTURE/bin
/BOOKCATALOG.INFRASTRUCTURE/obj
/BOOKCATALOG.API/BOOKCATALOG.API.csproj.user
/BOOKCATALOG.WEB/bin
/BOOKCATALOG.WEB/node_modules
/BOOKCATALOG.WEB/obj
/.vs
